
ConsoleAppHash/obj/ConsoleAppHash.csproj.nuget.dgspec.json
ConsoleAppHash/obj/ConsoleAppHash.csproj.nuget.g.props
ConsoleAppHash/obj/ConsoleAppHash.csproj.nuget.g.targets
ConsoleAppHash/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ConsoleAppHash/obj/Debug/net6.0/apphost.exe
ConsoleAppHash/obj/Debug/net6.0/ConsoleAppHash.assets.cache
ConsoleAppHash/obj/Debug/net6.0/ConsoleAppHash.csproj.FileListAbsolute.txt
ConsoleAppHash/obj/Debug/net6.0/ConsoleAppHash.GlobalUsings.g.cs
ConsoleAppHash/obj/project.assets.json
SmartReaderStandalone/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SmartReaderStandalone/obj/Debug/net6.0/apphost.exe
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.assets.cache
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.csproj.BuildWithSkipAnalyzers
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.csproj.FileListAbsolute.txt
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.GlobalUsings.g.cs
SmartReaderStandalone/obj/project.assets.json
SmartReaderStandalone/obj/SmartReaderStandalone.csproj.nuget.dgspec.json
SmartReaderStandalone/obj/SmartReaderStandalone.csproj.nuget.g.props
SmartReaderStandalone/obj/SmartReaderStandalone.csproj.nuget.g.targets
SmartReaderStandalone/obj/staticwebassets.pack.sentinel
