
ConsoleAppHash/obj/ConsoleAppHash.csproj.nuget.dgspec.json
ConsoleAppHash/obj/ConsoleAppHash.csproj.nuget.g.props
ConsoleAppHash/obj/ConsoleAppHash.csproj.nuget.g.targets
ConsoleAppHash/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ConsoleAppHash/obj/Debug/net6.0/apphost.exe
ConsoleAppHash/obj/Debug/net6.0/ConsoleAppHash.assets.cache
ConsoleAppHash/obj/Debug/net6.0/ConsoleAppHash.csproj.FileListAbsolute.txt
ConsoleAppHash/obj/Debug/net6.0/ConsoleAppHash.GlobalUsings.g.cs
ConsoleAppHash/obj/project.assets.json
SmartReaderStandalone/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SmartReaderStandalone/obj/Debug/net6.0/apphost.exe
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.assets.cache
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.csproj.BuildWithSkipAnalyzers
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.csproj.FileListAbsolute.txt
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.GlobalUsings.g.cs
SmartReaderStandalone/obj/project.assets.json
SmartReaderStandalone/obj/SmartReaderStandalone.csproj.nuget.dgspec.json
SmartReaderStandalone/obj/SmartReaderStandalone.csproj.nuget.g.props
SmartReaderStandalone/obj/SmartReaderStandalone.csproj.nuget.g.targets
SmartReaderStandalone/obj/staticwebassets.pack.sentinel
ConsoleAppHash/obj/project.nuget.cache
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.AssemblyInfo.cs
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.AssemblyInfoInputs.cache
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.csproj.AssemblyReference.cache
SmartReaderStandalone/obj/Debug/net6.0/SmartReaderStandalone.GeneratedMSBuildEditorConfig.editorconfig
SmartReaderStandalone/obj/project.nuget.cache
.vs/ProjectEvaluation/smartreaderstandalone.metadata.v5.1
.vs/ProjectEvaluation/smartreaderstandalone.projects.v5.1
.vs/SmartReaderStandalone/DesignTimeBuild/.dtbcache.v2
.vs/SmartReaderStandalone/FileContentIndex/7c8ecaa8-8c9d-4619-a99b-9dcd31048be3.vsidx
.vs/SmartReaderStandalone/FileContentIndex/ebe2109b-9932-4a8d-86ff-d6d7673b628c.vsidx
.vs/SmartReaderStandalone/FileContentIndex/f63d2125-8d22-4f95-a65d-9e7eb6cad14c.vsidx
.vs/SmartReaderStandalone/v17/.futdcache.v2
.vs/SmartReaderStandalone/v17/.suo
.vs/ProjectEvaluation/smartreaderstandalone.metadata.v5.1
.vs/ProjectEvaluation/smartreaderstandalone.projects.v5.1
.vs/SmartReaderStandalone/DesignTimeBuild/.dtbcache.v2
.vs/SmartReaderStandalone/FileContentIndex/f63d2125-8d22-4f95-a65d-9e7eb6cad14c.vsidx
.vs/SmartReaderStandalone/v17/.futdcache.v2
.vs/SmartReaderStandalone/v17/.suo
SmartReaderStandalone/etk_tools/8.1.0_Octane_Embedded_Development_Tools.tar.gz
